.eventBody {
  background: url("../Assets/eventBackground.png") no-repeat center center/cover;
  width: 100vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventBox {
  background-color:#f9f9f9;
  border: 2px solid var(--bordo-color);
  border-radius: 10px;
  width: 1100px;
  height: 650px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.eventTitle {
  width: 100%;
  height: 3rem;
  background-color: var(--bordo-color);
  color: var(--beige-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventData {
  flex: 1;
  height:auto;
  display: flex;
}

.leftSide {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.eventImg {
  margin-bottom: 15px;
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.dateTimeBox {
  margin-bottom: 15px;
  height: 2.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poll {
  margin-top: auto;
  width: 100%;
  height: 150px;
  background-color: var(--beige-color);
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.pollText {
  padding: 15px 15px 0 15px;
}

.pollButtonBox {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.parentalSeminar {
  margin-left: auto;
  color: #666;
  width: 20rem;
  height: 1.5rem;
  border: 1px solid var(--bordo-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parentalSeminar a {
  text-decoration: none;
  color: var(--bordo-color);
}

.description {
  margin: 1rem 0;
}

.signButtonBox {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.locationBox {
  margin-top: auto;
  border: 2px solid var(--bordo-color);
  border-radius: 5px;
}

.location {
  margin: 1rem;
}

.map {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}


button {
  background-color: var(--bordo-color);
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--bordo-color);
  color: var(--beige-color);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}