.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../Assets/bchGirl.webp") no-repeat top center/cover;
    background-attachment: fixed;
  }
  
  .loginTitle {
    color: var(--beige-color);
    font-size: 4rem;
    letter-spacing: 3px;
    padding: 0 15px;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  }
  
  .loginForm input {
    margin: 10px 0;
    padding: 10px;
    width: 50%;
  }
  
  .loginForm button {
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
  }
  
  .loginError {
    color: red;
    margin-top: 10px;
  }
  
  .loginSuccess {
    color: green;
    margin-bottom: 20px;
  }
  
  .signupLink {
    margin-top: 20px;
    color: var(--beige-color);
  }
  